*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand' , sans-serif;
}
body{
    background: linear-gradient( to bottom, #970d1a, #4e204d);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 600px;
    background: #fff;
    padding: 30px 30px 25px;
    border-radius: 15px;
    box-shadow: 18px 18px 36px #131010;
}
h1{
    text-align: center;
}
.joke{
    margin-top: 20px;
    line-height: 35px;
    font-size: 22px;
}
.start{
    font-weight: 550;
}
.punchline{
    font-style: italic;
}
.bottom{
    border-top: 1.5px solid rgb(204, 199, 199);
    margin-top: 20px;
    padding: 20px 20px 15px;
    /* background: red; */
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left{
    display: inline-block;
}

.right{
    display: inline-block;
}
ul, li{
    display: inline-block;
    list-style: none;
}
button{
    background: #4e204d;
    color: #fff;
    padding: 18px 22px;
    border-radius: 30px;
    border: none;
    position: relative;
    transition: all 0.4s linear;
    user-select: none;
}
button.generate{
    opacity: 0.7;
    pointer-events: none;
}
button:hover{
    background: #970d1a;
}
.sound{
    border: 2px solid #4e204d;
    padding: 15px;
    border-radius: 50%;
    color: #4e204d;
    margin-right: 10px;
    transition: all 0.4s ease;
}
.sound:hover{
    background: #970d1a;
    color: #fff;
    border: 2px solid #970d1a;
}
.copy{
    border: 2px solid #4e204d;
    padding: 15px;
    border-radius: 50%;
    color: #4e204d;
    transition: all 0.4s ease;
}
.text{
    border: 2px solid #4e204d;
    padding: 15px;
    border-radius: 30px;
    color: #4e204d;
    transition: all 0.4s ease;
    margin-top: 10px;
    display: none;
    user-select: none;
}
.copy:hover{
    background: #970d1a;
    color: #fff;
    border: 2px solid #970d1a;
}


@media screen and ( max-width: 550px) {
    .container{
        width: 90%;
    }
    .punchline{
        margin-top: 19px;
    }
}
@media screen and ( max-width: 490px) {
   h1{
    font-size: 30px;
   }
}
@media screen and ( max-width: 465px) {
    h1{
        font-size: 25px;
    }
}
@media screen and ( max-width: 410px) {
    .bottom{
        padding: 10px 0;    
    }

}
@media screen and ( max-width: 397px) {
    h1{
        font-size: 22px;
    }
}
@media screen and ( max-width: 358px) {
    h3{
        font-size: 12px;
    }
}
@media screen and ( max-width: 333px) {
    .sound, .copy, .text{
        padding: 10px;
    }
    .sound{
        margin-right: 5px;
    }
}
@media screen and ( max-width: 307px) {
    .sound{
        margin-right: 2px;
    }
    .copy{
        margin-right: 3px;
    }
}